* {
    font-family: 'Poppins', sans-serif;
}

h1, .navbar-brand
{
    font-weight: 700;
}

.navbar-brand
{
    font-size: 1.75em;
}

body
{
    background-color: #000;
}

#nav-global
{
    background-color: #0f0f0f!important;
    border-bottom: 1px solid #1e1e1e;
}

#nav-global a
{
    font-weight: 600;
}

form select
{
    background-color: #0f0f0f!important;
    color: #fff!important;
    border: 1px solid #2c2c2c!important;
}

.nav-pills
{
    border-bottom: 1px solid #1e1e1e;
}

.nav-pills .nav-link
{
    border: 1px solid #1e1e1e;
    margin-right: .5em;
    color: #37D247!important;
}

.nav-pills .nav-link.active
{
    color: #000!important;
    background-color: #efefef;
    border: 1px solid #1e1e1e;
}

.nav-pills .nav-link.active:hover
{
    color: #000!important;
    background-color: #fff;
}

.nav-pills .nav-link:hover
{
    border: 1px solid #333;
    background-color: #222;
}

#top
{
    background-color: #0f0f0f!important;
    border-bottom: 1px solid #1e1e1e;
}

#graph
{
    background-color: #000;
}

#graph-inputs
{
    border-radius: 6px;
    background-color: #0f0f0f;
    border: 1px solid #1e1e1e;
}

form select
{
    background-color: #0f0f0f!important;
    color: #fff!important;
    border: 1px solid #2c2c2c!important;
}

#submit-btn
{
    padding: .75em 1.5em .75em 1.5em;
    font-weight: 600;
    --bs-btn-color: #000;
    --bs-btn-border-radius: 100px;
    --bs-btn-bg: #37D247;
    --bs-btn-border-color: 0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #32CA44;
    --bs-btn-hover-border-color: #0;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #0;
    --bs-btn-active-shadow: 0;
}

.btn-statify
{
    padding: .75em 1.5em .75em 1.5em;
    font-weight: 600;
    --bs-btn-color: #000;
    --bs-btn-border-radius: 100px;
    --bs-btn-bg: #37D247;
    --bs-btn-border-color: 0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #32CA44;
    --bs-btn-hover-border-color: #0;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #0;
    --bs-btn-active-shadow: 0;
}

.statify-alert
{
    color: #000;
    background-color: #37D247;
    border: 0;
}