* { font-family: 'Poppins', sans-serif; }
h1, .navbar-brand { font-weight: 700; }
.navbar-brand { font-size: 1.75em; }

body { background-color: #000; }

#nav-global
{
    background-color: #0f0f0f!important;
    border-bottom: 1px solid #1e1e1e;
}

#nav-global a { font-weight: 600; }


.alert-success
{
    color: #000;
    background-color: #37D247;
    border: 0;
}

form select {background-color: #0f0f0f!important; color: #fff!important; border: 1px solid #2c2c2c!important;}
	